.CounterButton {
  width: 70px;
  height: 70px;
  font-size: 48px;
  border: 1px solid #cbd5ef;
  border-radius: 50%;
  user-select: none;
  box-shadow: 0 6px 12px -8px #7a88a9;
  background: white;
  color: inherit;
  outline: 0;
  transition: box-shadow 0.25s, border-color 0.25s, transform 0.1s;
  transform: scale(1.01);
  padding-bottom: 8px;
  font-weight: 300;

  &:not([disabled]) {
    &:hover {
      box-shadow: 0 12px 18px -6px #bfc5d4;
      border-color: #acbbe0;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &[disabled] {
    opacity: 0.5;
  }
}
